*{padding: 0;
margin: 0;
box-sizing: border-box;}

body{
  max-width: 1200px;
  }
header{background-color: pink;width: 100%;height: 50%;}
.iconos .corazones{
    width:20%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
}
.iconos{width: 100%;
    height: 80%;}
    
   
.corazones{
    fill: transparent;
    stroke: rgb(0, 0, 0) solid;
    stroke-width: 20;
    cursor: pointer;
    position: relative;
    
    }
    svg{overflow: visible;
    width: 10rem;}
    path{
        stroke-dashoffset: 0;
        stroke-dasharray: 1550;
        transform-origin: center;
    }
    .vacio{background-color: blue;} 
    .lleno{background-color: rgb(255, 255, 18);
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
        stroke: none;
    }
    .vacio:hover path{
        animation: stroke-animation 3s ease-in-out forwards;
    }
    .vacio:hover~.lleno path{
        animation:fade-animation 3s ease-in-out forwards

    }
@keyframes stroke-animation{
    0%{stroke-dashoffset: 0;}
    30%{stroke-dashoffset: 1550;}
    60%{stroke-dashoffset: 3100;
        fill: transparent;
        transform: scale(1);}
    80%{fill:red;
        transform: scale(1.1);}
    90%{transform: scale(1);}
    100%{stroke-dashoffset: 3100;
        fill: red;
        }
} 
 */
 
img{
    max-width:20%;
    width: 40rem;}


.items{width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
p{color: black;}


.descripcionyprecio{text-align:center;}

button{ width: 30%;
    padding: 0.8rem ;
    border:0.5 solid black;
    border-radius: 2rem;
    margin-left: 10rem;
   
 
}
/* [src="galeria-rugby/corazon.svg"]{ width: 5rem;
    padding: 1rem;right: auto;} */

embed{width: 4rem;
    margin-left: 18rem;
     
}
 

.figure{text-align: center;}
.item{padding: 1rem;}


