*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 /*estilo contenedor principal*/
 main { 
        min-height: 100vh;
        display: grid;
        grid-template-areas: 
        "header"
        "contenedor1"
        "footer"
        ;

      /*esto es la cuadricula*/
      grid-auto-rows: 10rem 50rem  40rem;
            
       }





 header {  border: 2rem solid red;
            background-color: #D9D9D9;
            grid-area: header;
            display: flex;
            justify-content: space-around            ;
         
           
            
              
        }


 header ul {   border: 1rem solid green;
    
              
               background-color: blueviolet;
               padding-top: 3rem;
              
               
               
      

}
 
 header a {   
            text-decoration: none;
            font-size: 2rem;
            
           
            
}

 
section { border: 1rem solid rgb(128, 83, 0);
          background-color: white;
          grid-area: contenedor1;        
}

/* h1 { background-color:orange;} */




/*----------aqui tengo el ccs del enlace a equipo senior---*/

.equiposenior { border: 1rem solid orange;}


/*hasta aqui es el css del enlace al equipo senior


































footer { grid-area: footer;
        background-color: blue;
}
.contenedor-footer{ 
                    width: 100%;
                    height: 30rem;
                    background-color: aquamarine;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 1rem;
                    
                    

}

/*comentario lalala*/ 

.titulo_patrocinadores{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                        font-size: 1.3rem;
                        font-style: italic;
                        display: flex;
                        justify-content: center;
                        padding: 2rem;

}
.list_patrocinadores{width: 90%;
                    height: 10rem;
                    padding: 1rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 0 auto;
                    list-style: none;                 

                    }
        
            /* .imagen_footer{width: 50px;
                height: 50px;

                } */
            img{width: 150px;
                    height: 150px;
    
                    }

.redes_sociales{width: 100%;
                height: auto;
                padding-top: 2rem;
                display: flex;
                justify-content: center;

}
.redes_sociales ul{width: 25%;
                height: 5rem;
                /* padding-right: 5rem;
                padding-bottom: 5rem;
                padding-left: 5rem; */
                padding: 1rem;
                display: flex;
                justify-content: center;
                gap: 4rem;
                align-items: center;
                list-style: none;
                float: right;
                
}
                  

.titulo_patrocinadores2{width: 100%;
                        height: 1rem;
                        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                        font-style: italic;
                        font-size: 1.2rem;
                        display: flex;
                        padding-left: 75rem;
}

.line_icon{width: 100%;
    height: 1rem;
    align-items: center;

}
.fa-brands{font-size: 2rem;

}
.logo-redes{width: 2rem;
    height: 2rem;

}

.copyright{width: 100%;
    height: 5rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
    

}


/* A partir de acá se empleará el CSS de la sección noticias */

.contenedor_noticias{   width: 100%;
                        height: 80rem;
                        display: flex;
                        justify-content: center;

}
.portada1{width: 60%;
            height: 35rem;
            display: flex;
            justify-content: center;
            padding: 2rem;

}
.portada1 img{width: 100%;
    height: auto;
    

}
.noticia1{width: 100%;
            height: auto;
    }

.cuerpo_noticia1{width: 60%;
                    height: auto;
                    padding: 2rem;
    }

.tyc{width: 100%;
        height: 3rem;
}

.tyc ul{width: 25%;
        height: 2rem;
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        float: right;

}