*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 /*estilo contenedor principal*/
body {   position: relative; 
        min-height: 100vh;
        display: grid;
        grid-template-areas: 
        "header"
        "contenedor1"
        "footer"
        ;
        

      /*esto es la cuadricula*/
      grid-auto-rows: 10rem 100rem  60rem;
            
       }


/*-------------aqui es el header-------------------*/


header {    background-color: #D9D9D9;
            grid-area: header;
            display: flex;
            justify-content: space-between;
        }




header ul {  
             width: 100%;
             display: flex;
             justify-content: space-around;
             align-items: center;  
           }
 header ul li { list-style: none;}           
 
 header a {   
            text-decoration: none;
            font-size: 2rem;
            padding: 1rem;        
}


 /*------------------------------aqui empieza lo que seria el main-----------*/
.encabezado_del_body {   
                        background-color: white;
                        grid-area: contenedor1;        
}

.carruselDefotos {  border: 1rem solid black

}

















/*----------aqui tengo el ccs del enlace a equipo senior----------------------------------------------------------------*/


.videoDelequipo { position: fixed;}



         
.plantilla {    position: absolute; 
                width: 100%; 
        }
               
.h1plantilla {  color:white;
               font-size: 6rem;
        }

.main_senior { 
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               gap: 10rem;
               color: antiquewhite
               
        } 
        

 .main_senior  img { width: 300px;
                     height: 300px;

 }      
 
 .main_senior h3 { color:aqua; 
                  margin-left: 50%;
                  font-size: 2rem;

 }

.alineacion { 
              display: flex;
              justify-content: space-around;
              
              font-size: 2rem;
             
             
            }



/*hasta aqui es el css del enlace al equipo senior*/


footer { grid-area: footer;
background-color: aliceblue;
         
    
}
.contenedor-footer{ border: 1rem solid red;
                width: 100%;
                height: 40rem;
                                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 1rem;
                
                
}




.titulo_patrocinadores{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    font-size: 1.3rem;
                    font-style: italic;
                    display: flex;
                    justify-content: center;
                    padding: 1rem;
}
.list_patrocinadores{width: 90%;
                height: 10rem;
                padding: 1rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 auto;
                list-style: none;                 
                }
    
        
.list_patrocinadores img{width: 150px;
                height: 150px;

                }
.redes_sociales{ border: 1rem solid red;
                width: 100%;
                height: auto;
                padding-top: 0.5rem;
                display: flex;
                 justify-content: center;
}
.redes_sociales ul{width: 25%;
            height: 5rem;
            padding: 1rem;
            display: flex;
            justify-content: center;
            gap: 4rem;
            align-items: center;
            list-style: none;
            float: right;
            
}
              
.titulo_patrocinadores2{width: 100%;
                    height: 1rem;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    font-style: italic;
                    font-size: 1.2rem;
                    display: flex;
                    padding-left: 75rem;
                    }
.line_icon{width: 100%;
            height: 1rem;
            align-items: center;
            }
.fa-brands{font-size: 2rem;
                }
.logo-redes{width: 2rem;
            height: 2rem;
            }
.copyright{width: 100%;
            height: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;



}


/* A partir de acá se empleará el CSS de la sección noticias */


form {
    /* Centrar el formulario en la página */
   
    margin:13rem auto;
    width: 80%;
    min-height: 100vh;
    /* Esquema del formulario */
    padding: 1em;
    border: none;
    
  }
 
 
  label{
    display: block;
    margin: 0.5rem;
    

  }
  input,textarea{
    display: flex;
    justify-content: center;
    width: 60%;
    padding: 1rem ;
    margin: 1.5rem auto;
    background-color: rgb(34, 33, 33);
    border: none;
    color:darkgrey;
    opacity: 0.6;
}

.noticias_general{width: 100%;
                    height: auto;

}
.contenedor_noticias{   width: 100%;
                        height: auto;
                        margin: 0 auto;
                        display: flex;
                        padding-top: 0.1rem;
                        padding-bottom: 2rem;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;

}
.portada1{width: 100%;
            height: 42rem;
            display: flex;
            justify-content: center;
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 2rem;

}
figcaption{text-align: center;

}
.portada1 img{width: 100%;
    height: auto;
    

}
.noticia1{width: 60%;
            height: auto;
            display: flex;
            justify-content: center;
            flex-direction: column;
    }
.noticia1 h1{font-size: 2rem;

}

.noticia1 h4{font-size: 1.5rem;

}

.noticia1 p{font-size: 1.3rem;

}

.cuerpo_noticia1{   width: 100%;
                    height: auto;
                    padding: 2rem;
                    text-align: justify;
                    
                                        }

.tyc{width: 100%;
        height: 3rem;
        display: flex;
        justify-content: center;
}

.tyc ul{width: 30%;
        height: 2rem;
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        float: right;

}
.noticia2{  width: 60%;
            height: auto;
            display: flex;
            justify-content: center;
            flex-direction: column;
            
}
.noticia2 h1{font-size: 2rem;  

  }
  
  textarea{
    height: 10rem;
    padding: 0.75rem;
    color: darkgrey;
  }
 
   
  
  button {
 
   padding: 1rem 2rem;
    margin-left: 50%;
    background-color: rgb(34, 33, 33);
    color:darkgrey;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0,0, 80);
    opacity: 0.8;

  }

  button:hover{
    background-color: blueviolet;
  }


.portada2       {width: 100%;
                height: 50rem;
               /*  display: flex;
                justify-content: center; */
                
            }
.portada2 img{width: 100%;
                height: auto;
                padding: 2rem;}

.noticia2 h4{font-size: 1.5rem; 
                        text-align: justify;    
                        }
                
.noticia2 p{font-size: 1.3rem;
            text-align: justify;
            
                }
                
.cuerpo_noticia2{   width: 100%;
                    height: auto;
                    padding: 2rem;
                    text-align: justify;
        }

.portada3{width: 100%;
            height: 40rem;
            display: flex;
            justify-content: center;
            padding: 2rem;
        
        }
.portada3 img{width: 100%;
            height: auto;}
        
.noticia3{width: 60%;
            height: auto;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 1rem;
            margin: 0 auto;
        }
.noticia3 h1{font-size: 2rem;
        
        }
        
.noticia3 h4{font-size: 1.5rem;
        
        }
        
.noticia3 p{font-size: 1.3rem;
        
        }
        
.cuerpo_noticia3{   width: 100%;
                            height: auto;
                            padding: 2rem;
                            text-align: justify;}



/* A partir de esta línea se da inicio al estilo de las categorías */

.categorias_general{width: 100%;
                    height: 100rem;
                    display: flex;
                    

  }

  .categorias_general{width: 100%;
                        height: 300rem;
                        border: 0.2rem solid black;
                        display: flex;

  }

  .contenedor_categorias{width: 80%;
                        height: auto;
                        border: 0.1rem solid red;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin: 0 auto;
                        }
.linces{        width: 100%;
                height: auto;

}

.linces img{width: 100%;
                height: 20%;
}

.juvenil h1{    font-size: 3rem;
                text-align: center;
                padding: 1rem;

}






























































        /*--------aquies css de abderrAHMANE---*/
    



.formulario{
    height: 100vh;
    width: 100vh;
    background-image:url(/galeria-rugby/equipacion-hombre.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    background-attachment: fixed;

        }